*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Trigun, sans-serif;
    font-size: 90%;
}

@font-face {
    font-family: Trigun;
    src: url("Fonts/Trigun.ttf");
}

#container {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    background-color: #19130e;
}

#header {
    font-size: clamp(1.3rem, 2vw, 2rem);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 69%;
    height: 25%;
    padding-left: 20%;
    padding-right: 5%;
    background: #de2e5c;

}

#header_naming {
    font-size: clamp(1rem, 2vw, 2rem);
    word-wrap: break-word;
    position: fixed;
    width: 15%;
    max-width: 50%;
    max-height: 20%;
    left: 35%;
    top: 7.5%;
    padding: 1%;
    border: black solid 1px;
    background: white;
}

#menu {
    font-size: 240%;
    word-wrap: break-word;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 75%;
    padding: 5% 3% 0 3%;
    left: 0;
    background: #ecd9b9;
}

#menu a {
    margin: 10px 0;
    text-decoration: none;
    color: black;
}

#menu a:hover {
    color: blue;
}

#picture {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#footer {
    font-size: clamp(1.3rem, 2vw, 2rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 69%;
    height: 25%;
    padding-left: 5%;
    padding-right: 20%;
    background: #de2e5c;
}

#footer_naming {
    font-size: clamp(1rem, 2vw, 2rem);
    word-wrap: break-word;
    position: fixed;
    width: 15%;
    max-width: 50%;
    max-height: 20%;
    left: 87%;
    bottom: 8%;
    padding: 1%;
    border: black solid 1px;
    background: white;
}

#wiki_link {
    font-size: 240%;
    word-wrap: break-word;
    position: fixed;
    display: flex;
    width: 30%;
    height: 25%;
    padding: 5% 3% 0 3%;
    bottom:0;
    left: 0;
    background: #8c6c61;
}

#wiki_link a {
    margin: 10px 0;
    text-decoration: none;
    color: black;
}

#wiki_link a:hover {
    color: blue;
}